@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

body {
    font-family: $font-primary;
    background: $primary-bg;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: $secondary;
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.5;
	color: $headings;
	font-weight: 400;
}

h2.heading {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

.surface-background {
    background-color: $surface-bg;
}

.progress-bar {
    background-color: $primary !important;
}