// Variables

//Colors
$white: #fff;
$black: #000000;
$grey: #8B8B8B;

$background-dark: #2A2A2E;
$background-light: $white;
$surface: #2D2D32;
$primary: #FAC921;
$secondary: #000000;
$surface-transparent: rgba($surface, .9);


//Fonts
$font-primary: 'Poppins',Arial, sans-serif;