// Variables

//Colors
$white: #fff;
$black: #000000;
$grey1: #8B8B8B;
$grey2: #3F4040;
$grey3: #323333;

$primary-bg: #2D2E2E;
$surface-bg: #2B2C2C;
$nav-bg: #292A2A;
$primary: #E0A80D;
$secondary: #979899;
$headings: #A4A5A6;
$icons: #717273;
$lines: #404242;
$links: #FEFAEE;




//Fonts
$font-primary: 'Lato', sans-serif;